label {
    width: 300px;
    text-align: right;
    color: #555555;
    font-weight: bold;
}

input {
    width: 300px;
    text-align: left;
}

span.error {
    color: red;
    width: 600px;
    text-align: left;
}