<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>
<body>

<form th:method="post" th:action="@{/registration}" th:object="${user}">
    <span class="labelBox"><label for="username">Username:</label></span>
    <input type="text" th:field="*{username}" id="username" name="username"/>
    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</span>
    <br>
    <span class="labelBox"><label for="password">Password:</label></span>
    <input type="password" th:field="*{password}" id="password" name="password"/>
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
    <br>
    <hr>
    <span class="labelBox"><label for="name">Name:</label></span>
    <input type="text" th:field="*{name}" id="name" name="name"/>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
    <br>
    <span class="labelBox"><label for="surname">Surname:</label></span>
    <input type="text" th:field="*{surname}" id="surname" name="surname"/>
    <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</span>
    <br>
    <span class="labelBox"><label for="age">Age:</label></span>
    <input type="text" th:field="*{age}" id="age" name="age"/>
    <span class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</span>
    <br>
    <span class="labelBox"><label for="age">Sex:</label></span>
    <select th:field="*{sex}" id="sex" name="sex">
        <option value="Man">Man</option>
        <option value="Woman">Woman</option>
    </select>
    <span class="error" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">sex error</span>
    <br>
    <span class="labelBox"><label for="interests">Interests:</label></span>
    <input type="text" th:field="*{interests}" id="interests" name="interests"/>
    <span class="error" th:if="${#fields.hasErrors('interests')}" th:errors="*{interests}">interests error</span>
    <br>
    <span class="labelBox"><label for="city">City:</label></span>
    <input type="text" th:field="*{city}" id="city" name="city"/>
    <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city error</span>
    <br>
    <span class="labelBox"></span>
    <input type="submit" value="Registration!"/>
</form>

</body>
</html>