<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск пользователей</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>
<body>
<h1>Поиск</h1>

<form th:method="post" th:action="@{/page/find}" th:object="${userSearch}">
    <span class="labelBox"><label for="name">Name:</label></span>
    <input type="text" th:field="*{name}" id="name" name="name"/>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
    <br>
    <span class="labelBox"><label for="surname">Surname:</label></span>
    <input type="text" th:field="*{surname}" id="surname" name="surname"/>
    <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</span>
    <br>
    <span class="labelBox"></span>
    <input type="submit" value="Find!"/>
</form>

<hr>
<a th:href="@{/page/{id}(id=${currentUser.getId()})}">На мою страницу</a><br>
<a th:href="@{/page}">Все пользователи</a><br><br><br>
<a href="/logout">Logout</a>

</body>
</html>